.pacientprofile-container h2 {
    text-align: center;
    margin-bottom: 3rem;
}

.card-data-pacient {
    box-shadow: var(--box-shadow);
    border-radius: var(--card-radius);
    padding: var(--big-padding);
    margin: 1rem 0;
    display: grid;
    grid-template-columns: repeat(2, auto);
    grid-template-rows: repeat(3, auto);
}

.card-data-pacient div {
    padding: 0.5rem;
    align-items: center;
}

.card-pacient {
    padding: 20px;
}

.card-header {
    display: grid;
    grid-template-columns: 50px auto;
    gap: 1rem;
    margin-bottom: 1rem;
}

.card-header h3 {
    align-content: center;
}

.pacient-table td {
    padding: 0.5rem;
}

.pacient-table { 
    width:100%; 
    border-collapse: collapse; 
}

.pacient-table th { 
    font-size: large;
    color: var(--color-primary);
    font-weight: bold;
}

.pacient-table th, .pacient-table td { 
    padding: 1rem 10px; 
    border-bottom: 1px solid var(--color-border); 
    text-align: center; 
}

.edit-div {
    display: flex;
    gap: 2rem;
    color: black;
}

.edit-div .icon-edit {
    cursor: pointer;
}

.icon-button {
    cursor: pointer;
}

.left, .right {
    color: gray;
}

.icon-edit {
    color: var(--color-secundary);
}

.button-pacient-container .button-primary, .button-pacient-container .button-danger, .button-pacient-container .button-secondary {
    border-radius: var(--default-radius);
}

.pacientprofile-container{
  display: flex;
  flex-direction: column;
  flex: 1 0 auto;
}

.pacientprofile-container .buttons-separation{
  margin-top: 2rem;
}

.button-pacient-container{
  margin-top: auto;         
  display: grid;
  grid-template-columns: repeat(3, auto);
  justify-content: center;
  gap: 1.5rem;
  padding: 1rem 0 1.25rem;
  border-top: 1px solid var(--color-border);
  justify-content: space-between;
}