.popup-container-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 9;
}

.popup-container {
    background: #fff;
    border-radius: var(--radius);
    max-width: 90%;
    box-shadow: 0 5px 20px rgba(0,0,0,0.3);
    text-align: center;
    animation: popup-anim 0.3s ease-out;
}

.header-popup {
    position: relative;
    border-top-left-radius: var(--radius);
    border-top-right-radius: var(--radius);
}

.popup-close-icon-container {
    display: flex;
    padding-top: 15px;
    padding-right: 15px;
    align-content: center;
    justify-content: right;
}

.popup-close-icon {
    font-size: 1.25rem;
    font-weight: 900;
    background-color: var(--color-primary);
    aspect-ratio: 1/1;
    width: 40px;
    padding: 2px;
    align-content: center;
    border-radius: var(--half-radius);
    color: #fff;
}

.popup-title {
    padding: 10px;
    color: black;
    font-weight: 600;
}

.popup-content {
    padding: 2rem;
}