.popup-container-background {
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease, visibility 0.3s ease;
}

.popup-container-background.show {
  opacity: 1;
  visibility: visible;
}

.popup-container-background.hide {
  opacity: 0;
  visibility: hidden;
}

.popup-container-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 9;
}

.popup-container {
    background: #fff;
    border-radius: var(--radius);
    max-width: 90%;
    box-shadow: 0 5px 20px rgba(0,0,0,0.3);
    text-align: center;
    animation: popup-anim 0.3s ease-out;
    padding-bottom: 1rem;
}

.header-popup {
    position: relative;
    border-top-left-radius: var(--radius);
    border-top-right-radius: var(--radius);
}

.popup-close-icon-container {
    display: flex;
    padding-top: 15px;
    padding-right: 15px;
    align-content: center;
    justify-content: right;
}

.popup-close-icon {
    font-size: 1.25rem;
    font-weight: 900;
    background-color: var(--color-primary);
    aspect-ratio: 1/1;
    width: 40px;
    padding: 2px;
    align-content: center;
    border-radius: var(--half-radius);
    color: #fff;
    border: none;
}

.popup-close-icon:hover {
    cursor: pointer;
}

.popup-title {
    padding: 10px;
    color: black;
    font-weight: 600;
}

.popup-content {
    padding: 1rem;
    display: grid;
    grid-template-rows: repeat(2, auto);
    gap: 1.5rem;
}

.popup-button {
    min-height: 3rem;
    align-content: center;
    margin: auto;
}

.popup-body .logo-container{
    font-size: 5rem;
    padding: 0.75rem 0 0.775rem 0;
}

.popup-text {
    padding: 0 1rem 0 1rem;
}

.popup-button-container {
    margin-top: 1rem;
    display: flex;
    justify-content: center;
    align-content: center;
    gap: 2rem;
}

@media (max-width: 640px) {
  .popup-button-container {
    flex-direction: column;
    gap: 0.5rem;
    align-items: stretch;
  }

  .popup-button-container .popup-button:nth-child(1) {
    order: 2;
  }

  .popup-button-container .popup-button:nth-child(2) {
    order: 1;
  }

  .popup-button-container .popup-button {
    width: 100%;
  }
}
