.forgot-container {
    display: grid;
    justify-items: center;
    align-content: center;
    min-height: calc(80vh - 100px);
}

.forgot-card {
    width: 35rem;
    margin: auto;
    background: linear-gradient(to right, var(--light-blue), var(--color-secundary));
    box-shadow: var(--box-shadow);
    border-radius: var(--card-radius);
    margin-top: var(--big-padding);
    display: grid;
    gap: 1rem;
    padding-top: 2rem;
}

.forgot-header {
    color: #fff;
    text-align: center;
    margin-top: 30px;
}

.forgot-logo {
    max-width: 480px;
    margin: auto;
    display: grid;
    justify-content: center;
}

.forgot-logo .forgot-container-logo {
    position: relative;
    width: 100px;
    height: 100px;
    margin-bottom: -75px;
    background-color: var(--color-secundary);
    box-shadow: var(--box-shadow);
    border-radius: 50%;
    color: #fff;
    display: grid;
    align-items: center;
    justify-items: center;
    font-size: 60px;
}

.body-forgot-card {
    background-color: #fff;
    border-radius: var(--card-radius);
    box-shadow: var(--box-shadow);
    padding: var(--big-padding);
}

.forgot-button {
    font-family: var(--font-family, 'Caslon 2000'), serif;
    border-radius: var(--default-radius);
    margin: auto;
}

.top-margin {
    margin-top: 1rem;
}

.mail-sent {
    display: grid;
    grid-template-rows: repeat(3, auto);
    gap: 0.25rem;
    align-items: center;
    justify-content: center;
    justify-items: center;
}

.mail-sent p {
    text-align: justify;
}

@media (max-width: 700px) {
    .forgot-container {
        margin: 0 1.25rem;
    }

    .forgot-card {
        width: 100%;
    }
}