.login-card {
    max-width: 480px;
    margin: auto;
    background: linear-gradient(135deg, var(--color-primary) 0%, var(--blue-60) 25%, var(--color-secundary) 100%);
    box-shadow: var(--box-shadow);
    border-radius: var(--card-radius);
    display: grid;
    gap: 1rem;
    padding-bottom: var(--big-padding);
    padding-top: 2rem;
}

.login-header {
    color: #fff;
    text-align: center;
    margin-top: 30px;
}

.login-logo {
    max-width: 480px;
    margin: auto;
    display: grid;
    justify-content: center;
}

.login-logo .logo-container {
    position: relative;
    width: 100px;
    height: 100px;
    margin-bottom: -50px;
    background-color: var(--color-secundary);
    box-shadow: var(--box-shadow);
    border-radius: 50%;
    color: #fff;
    display: grid;
    align-items: center;
    justify-items: center;
    font-size: 60px;
}

.body-login-card {
    background-color: #fff;
    border-radius: var(--card-radius);
    box-shadow: var(--box-shadow);
    padding: var(--big-padding);
}

.login-button {
    font-family: var(--font-family, 'Caslon 2000'), serif;
    border-radius: var(--default-radius);
    max-width: 50%;
    margin: auto;
    margin-bottom: var(--big-padding);
}

.top-margin {
    margin-top: 1rem;
}


@media (max-width: 700px) {
    .login-container {
        margin: 0 1.25rem;
    }
}