.specialists-container {
    margin-bottom: 4rem;
}

.specialists-container h2 {
    text-align: center;
    margin-bottom: 3rem;
}

.specialists-cards-container {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 24%);
    gap: 9%;
    justify-content: center;
    word-break: break-word;
}

.specialist-card {
    background-color: #fff;
    box-shadow: var(--box-shadow);
    padding: var(--big-padding);
    border-radius: var(--card-radius);
    border-left: 0.75rem solid var(--light-blue);
    border-bottom: 0.75rem solid var(--light-blue);
    display: grid;
    gap: 1rem;
    text-align: center;
    justify-content: center;
    justify-items: center;
    align-content: center;
}

.specialist-card img {
    aspect-ratio: 1/1;
    width: 30%;
    border-radius: var(--card-radius);
    border: 3px solid var(--light-blue);
}