.home-container {
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: 45% 55%;
}

.left-home-container {
    height: 100%;
    width: 100%;
    align-content: center;
    display: grid;
    grid-template-rows: repeat(2, auto) 5px auto;
    gap: 2rem;
}

.home-rectangle {
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 20%;
    background: var(--light-blue);
    display: flex;
    z-index: -2;
}

.home-circle {
    position: fixed;
    top: 0;
    right: 5%;
    height: 100vh;
    width: 40%;
    background: var(--light-blue);
    display: flex;
    z-index: -2;
    border-radius: 50%;
    align-items: center;
    justify-items: center;
    justify-content: center;
}

.home-circle img {
    aspect-ratio: 1/1;
    width: 60%;
    border-radius: 15rem;
}

.home-text-container {
    font-size: 1rem;
    text-align: justify;
}

.home-line {
    height: 5px;
    width: 20%;
    border-radius: 999px;
    background:
        linear-gradient(to right,
        rgba(255,255,255,0),
        var(--color-secundary),
        rgba(255,255,255,0)
        ),
        linear-gradient(var(--color-primary), var(--color-primary));
    background-blend-mode: screen;
    box-shadow:
        0 0 0.5px rgba(255,255,255,0.6),
        inset 0 0 6px rgba(255,255,255,0.15);
}

.home-button-container {
    width: 70%;
    display: grid;
    grid-template-columns: repeat(2, auto);
    gap: 3rem;
}

.responsive-title {
    display: none;
}

@media (max-width: 700px){
    .right-home-container, .home-circle, .home-rectangle {
        display: none;
    }

    .home-container {
        height: 100%;
        width: 100%;
        display: grid;
        grid-template-columns: 80%;
        align-items: center;
        justify-content: center;
    }
    
    .left-home-container {
        justify-content: center;
    }

    .left-home-container h1 {
        display: none;
    }

    .responsive-title {
        display: block;
        
    }

    .left-home-container .responsive-title h1 {
        display: block;
    }
    
    .responsive-home-rectangle {
        position: fixed;
        top: 0;
        right: 0;
        height: 15vh;
        width: 100%;
        background: var(--light-blue);
        display: flex;
        z-index: -2;
    }

    .responsive-home-circle {
        position: fixed;
        top: 0;
        right: 0;
        left: -2.5%;
        height: 30vh;
        width: 105%;
        background: var(--light-blue);
        z-index: -2;
        border-radius: 50%;
        align-content: end;
        justify-items: center;
        justify-content: center;
        display: grid;
        grid-template-rows: repeat(2, auto);
        gap: 1px;
        padding: 0 0 0.8rem 0;
    }

    .responsive-home-circle img {
        aspect-ratio: 1/1;
        width: 8vh;
        border-radius: 15rem;
    }

    .responsive-home-circle h1 {
        color: white;
    }

    .home-text-container {
        margin-top: 7rem;
    }

    .line-title {
        margin: 0 0 12px;
        width: 200%;
        border: 0;
        height: 2px;
        background: linear-gradient(to right,
            rgba(255,255,255,0), 
            rgba(255,255,255,0.85),
            rgba(255,255,255,0)
        );
    }

    .home-button-container {
        width: 100%;
        justify-content: space-between;
    }
}