.appbar-container {
  display: flex;
  height: var(--header-height); 
  align-items: center;
  background: linear-gradient(to right, var(--color-secundary), var(--color-primary)); 
  position: sticky; 
  top: 0; 
  z-index: 10;
  color: #fff;
  box-shadow: var(--bottom-shadow);
  justify-content: space-between;
}

.brand-container {
  background-color: #fff;
  height: 100%;
  min-width: 50%;
  display: grid;
  grid-template-columns: 60% 40%;
  gap: var(--default-gap);
  border-top-right-radius: var(--half-radius);
  border-bottom-right-radius: var(--half-radius);
  color: var(--color-text);
  padding: var(--padding-header);
}

.name-brand, .logo-brand {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
}

.logo-brand img {
  max-height: 3rem;
  top: 0;
  position: absolute;
}

.menu-container, .nav-toggle-container {
  display: flex;
  width: 75%;
  justify-content: end;
}

.nav-toggle .header-button {
  padding: 0.25rem 1rem;
}

.card-menu-container-open, .card-menu-container-close {
  position: absolute;
  justify-self: anchor-center;
  justify-items: center;
  width: 90%;
  background: linear-gradient(to right, var(--color-secundary), var(--color-primary));
  border-radius: var(--radius);
  padding: 20px;
  box-shadow: var(--shadow);
  transition: transform 0.5s;
}

.card-menu-container-open a, .card-menu-container-close a {
  color: white;
}

.card-menu-container-open .row, .card-menu-container-close .row {
  width: 100%;
  display: block;
  text-align: center;
  justify-items: center;
}

.card-menu-container-open .row .row-content, .card-menu-container-close .row .row-content{
  display: grid;
  gap: 1px;
  width: 100%;
}

.card-menu-container-open .row .row-content a, .card-menu-container-close .row .row-content a{
  width: 100%;
  padding: var(--padding-header);
  border-radius: var(--default-radius);
  transition: background-color 0.8s;
}

.card-menu-container-open .row .row-content a:hover, .card-menu-container-close .row .row-content a:hover {
  text-decoration: none;
  background: linear-gradient(
    to right,
    color-mix(in srgb, var(--color-primary) 85%, #000 15%),
    color-mix(in srgb, var(--color-secundary) 85%, #000 15%)
  );
  filter: saturate(1.05);
  border-radius: var(--default-radius);
  transition: background-color 0.8s;
}

.card-menu-container-open {
  transform: translateY(3.2rem);
  transition: transform 0.5s;
}

.card-menu-container-close {
  transform: translateY(-150%);
  transition: transform 0.5s;
}

@media (max-width: 1023px){
  .menu-container { 
    display: none;
  }
  .brand-container {
    width: 100%;
  }
}
@media (min-width: 1024px){
  .nav-toggle-container { 
    display: none;
  }
}

.name-brand {
  cursor: pointer;
}

.user-header-container {
  padding: 2px;
}

.user-container-header {
  display: grid;
  max-height: 2.5rem;
  align-content: center;
  min-width: 220px;
  grid-template-columns: repeat(2, auto);
  align-items: center;
  justify-content: center;
  border-radius: var(--default-radius);
  margin-right: 5px;
}

.user-container-header:hover {
  background: linear-gradient(to right, var(--light-blue), var(--color-secundary));
  background-size: 200% auto;
  background-position: right center;
  transition: background-position 0.4s ease-in-out;
  cursor: pointer;
}

.user-header-container .icon {
  display: flex;
  align-items: center;
}

.user-header-container .name {
  display: grid;
  grid-template-columns: repeat(2, auto);
  gap: 0.5rem;
}

.submenu {
  position: absolute;
  top: 100%;
  right: 0;
  background: white;
  border-radius: 8px;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.15);
  min-width: 220px;
  z-index: 100;
  margin-right: 5px;
}

.submenu-item {
  display: flex;
  align-items: center;
  padding: 0.75rem 1rem;
  font-weight: 600;
  color: var(--color-primary);
  cursor: pointer;
  transition: background 0.8s ease;
}

.submenu-item:hover {
  background: var(--extra-blue);
}

.submenu hr {
  margin: 0;
  border: none;
  border-top: 2px solid var(--color-primary);
}

.submenu-item:hover {
  text-decoration: none;
}

.logout-header {
  display: grid;
  grid-template-columns: repeat(2, auto);
  gap: 1rem;
}

.submenu-enter {
  opacity: 0;
  transform: translateY(-10px);
}

.submenu-enter-active {
  opacity: 1;
  transform: translateY(0);
  transition: opacity 0.3s, transform 0.3s;
}

.submenu-exit {
  opacity: 1;
  transform: translateY(0);
}

.submenu-exit-active {
  opacity: 0;
  transform: translateY(-10px);
  transition: opacity 0.3s, transform 0.3s;
}

.submenu-item.open {
  background-color: var(--color-secundary);
  color: white;
  border-top-left-radius: var(--default-radius);
  border-top-right-radius: var(--default-radius);
}

@media (max-width: 700px) {
  .brand-container {
    min-width: 70%;
  }

  .logo-brand {
    justify-content: flex-start;
  }
}