footer {
    padding: 5px; 
    text-align: center; 
    color: #fff; 
    background: var(--color-primary);
    box-shadow: var(--top-shadow);
    display: grid;
    grid-template-columns: repeat(2, auto);
    gap: var(--grid-default);
    z-index: 10;
}

@media (max-width: 700px){
  footer{
    grid-template-columns: 1fr;
    grid-auto-rows: auto;
    row-gap: var(--grid-default);
    column-gap: 0;
    padding: 1rem;
  }
  footer > * {
    justify-self: center;
  }
}