.doctordashboard-container {
    margin-top: var(--big-padding);
}

.doctordashboard-container h2 {
    text-align: center;
    margin-bottom: 3rem;
}

.doctordashboard-container .header-container {
    display: grid;
    grid-template-columns: repeat(2, auto);
    margin-bottom: var(--big-padding);
}

.input-search {
    width: 50%;
}

.header-container .date-container {
    display: grid;
    justify-content: end;
    grid-template-columns: 20% 50%;
    align-items: center;
}

.button-doctordashboard-container .button-secondary {
    border-radius: var(--default-radius);
}

.buttons-separation {
    margin-top: 2rem;
}

.doctordashboard-container{
  display: flex;
  flex-direction: column;
  flex: 1 0 auto;
}

.buttons-separation{ 
    margin-top: 2rem; 
}

.button-doctordashboard-container{
  margin-top: auto;
  display: flex;
  justify-content: left;
  align-items: center;
  padding: 0.75rem 1rem 1.25rem;
  width: 100%;
  border-top: 1px solid var(--color-border);
}

.button-doctordashboard-container .button-secondary{
  border-radius: var(--default-radius);
}